* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 30px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .title {
    text-align: center;
  }
  
  div>p {
    padding-left: 15px;
    text-align:left; 
    color: rgba(3, 108, 206, 0.849);
  
  } 
  div.desc {
    padding: 15px;
    text-align:justify;
  }